# Import libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Creating Data Structure

In [ ]:
# Data Structure: [id, 2021, 2022, 2023, 2024]
data_structure = np.array([
    [1, 150000,180000,220000,250000],  # paradise biryani
    [2, 120000,140000,160000,190000],  # beijing bites
    [3, 200000,230000,260000,300000],  # pizza hub
    [4, 180000,210000,240000,270000],  # burger point
    [5, 160000,185000,205000,230000],  # chai point
])

print("=========== zomato sales analysis =========")
print("data shape", data_structure.shape)
print("first 3 restaurants", data_structure[0:3])

# Total Sales Per Year

In [ ]:
# Total Sales Per Year
print("total sales per year", np.sum(data_structure, axis=0))
yearly_total = np.sum(data_structure[:, 1:], axis=0)
print("yearly total", yearly_total)

# Min, Max, and Average Sales

In [ ]:
# Min, Max, and Average Sales
min_sales = np.min(data_structure[:, 1:], axis=1)
print("min_sales", min_sales)

max_sales = np.max(data_structure[:, 1:], axis=0)
print("max_sales", max_sales)

avg_sales = np.mean(data_structure[:, 1:], axis=1)
print("avg_sales", avg_sales)

# Cumulative Sales and Visualization

In [ ]:
# Cumulative Sales and Visualization
cum_sum = np.cumsum(data_structure[:, 1:], axis=1)
print("cum_sum", cum_sum)

plt.figure(figsize=(10,6))
plt.plot(np.mean(cum_sum, axis=0))
plt.title("Cumulative Sales Across All Restaurants")
plt.xlabel("Years")
plt.ylabel("Sales")
plt.grid(True)
# plt.show()

# Vector Operations

In [ ]:
# Vector Operations
vector_1 = np.array([1, 2, 3, 4, 5])
vector_2 = np.array([6, 7, 8, 9, 10])

print("vector addition", vector_1 + vector_2)
print("vector multiplication", vector_1 * vector_2)
print("dot product", np.dot(vector_1, vector_2))

angle = np.arccos(np.dot(vector_1, vector_2) / (np.linalg.norm(vector_1) * np.linalg.norm(vector_2)))
print("angle", angle)

# Vectorized String Operations

In [ ]:
# Vectorized String Operations
restaurant_types = np.array([
    "boryani",
    "chinese",
    "pizza",
    "burger",
    "cafe"
])

vectorized_upper = np.vectorize(str.upper)
print("vectorized_upper", vectorized_upper(restaurant_types))

# Broadcasting

In [ ]:
# Broadcasting: Monthly Average Sales
monthly_avg = data_structure[:, 1:] / 12
print("monthly_avg", monthly_avg)