# Series and DataFrame

In [32]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.rand(33))
# print("ser",ser)

df = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))
df

            0         1         2         3         4
0    0.454884  0.822018  0.796066  0.815952  0.881699
1    0.284028  0.702301  0.928283  0.908523  0.175968
2    0.374862  0.651980  0.511294  0.905017  0.362556
3    0.054486  0.237088  0.418141  0.416923  0.720594
4    0.756964  0.960934  0.145651  0.507174  0.495332
..        ...       ...       ...       ...       ...
329  0.155916  0.942232  0.955364  0.096603  0.826069
330  0.127032  0.455384  0.564277  0.707103  0.774207
331  0.180872  0.585312  0.775885  0.980396  0.400969
332  0.860488  0.530988  0.981967  0.342638  0.145547
333  0.908674  0.173620  0.587044  0.629979  0.747369

[334 rows x 5 columns]

In [34]:
head = df.head()
head

          0         1         2         3         4
0  0.454884  0.822018  0.796066  0.815952  0.881699
1  0.284028  0.702301  0.928283  0.908523  0.175968
2  0.374862  0.651980  0.511294  0.905017  0.362556
3  0.054486  0.237088  0.418141  0.416923  0.720594
4  0.756964  0.960934  0.145651  0.507174  0.495332

In [35]:

_type = type(df)
_type

pandas.core.frame.DataFrame

In [36]:


_describe = df.describe()
_describe

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.496215    0.491434    0.489148    0.520071    0.492944
std      0.286493    0.299086    0.279509    0.293485    0.289011
min      0.000550    0.002031    0.002301    0.001558    0.004029
25%      0.249546    0.226337    0.239471    0.250163    0.253170
50%      0.484556    0.481154    0.501686    0.517573    0.506395
75%      0.742594    0.754071    0.712336    0.774295    0.725874
max      0.998508    0.999379    0.999560    0.996153    0.999030

# Modify Data

In [37]:
df[0][0] = "mani"
_data_types = df.dtypes
_data_types

C:\Users\DELL\AppData\Local\Temp\ipykernel_6860\4278357470.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[0][0] = "mani"
C:\Users\DELL\AppData\Local\Temp\ipykernel_6860\4278357470.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'mani' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df[0][0] = "mani"

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

# Transpose and Sort

In [30]:
transposed = df.T
transposed
desc_sorted = df.sort_index(axis=0, ascending=False)
desc_sorted

            A         B         C         D         E
333  0.518652  0.365819  0.557931  0.827360  0.710815
332  0.957718  0.679821  0.761310  0.198269  0.199564
331   0.58724  0.566613  0.999664  0.597966  0.573606
330  0.883762  0.171633  0.494606  0.895964  0.532829
329  0.898396  0.644605  0.555859  0.910076  0.505499
..        ...       ...       ...       ...       ...
4    0.726372  0.851059  0.242991  0.286947  0.301986
3    0.100872  0.060541  0.460814  0.234133  0.181358
2    0.018426  0.776113  0.045659  0.771663  0.025386
1    0.035493  0.480908  0.425512  0.727269  0.660862
0         234  0.805976  0.455608  0.924203  0.262393

[334 rows x 5 columns]

In [38]:

_head = df.head()
_head

          0         1         2         3         4
0      mani  0.822018  0.796066  0.815952  0.881699
1  0.284028  0.702301  0.928283  0.908523  0.175968
2  0.374862  0.651980  0.511294  0.905017  0.362556
3  0.054486  0.237088  0.418141  0.416923  0.720594
4  0.756964  0.960934  0.145651  0.507174  0.495332

# Column Rename and Value Update

In [39]:

_index = df.index
_index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [47]:
df.columns = list("ABCDE")
df.loc[0, "A"] = 234
df

            A         B         C         D         E
0         234  0.822018  0.796066  0.815952  0.881699
1    0.284028  0.702301  0.928283  0.908523  0.175968
2    0.374862  0.651980  0.511294  0.905017  0.362556
3    0.054486  0.237088  0.418141  0.416923  0.720594
4    0.756964  0.960934  0.145651  0.507174  0.495332
..        ...       ...       ...       ...       ...
329  0.155916  0.942232  0.955364  0.096603  0.826069
330  0.127032  0.455384  0.564277  0.707103  0.774207
331  0.180872  0.585312  0.775885  0.980396  0.400969
332  0.860488  0.530988  0.981967  0.342638  0.145547
333  0.908674  0.173620  0.587044  0.629979  0.747369

[334 rows x 5 columns]

In [40]:

columns = df.columns
columns

RangeIndex(start=0, stop=5, step=1)

In [41]:


to_numpy_before = df.to_numpy()
to_numpy_before

array([['mani', 0.8220178862040661, 0.7960655634236289,
        0.8159515022697026, 0.8816988364856093],
       [0.2840283902010561, 0.7023013226904368, 0.9282831733876684,
        0.9085229072223164, 0.1759682016365105],
       [0.37486233260931945, 0.6519801160534817, 0.5112935276330808,
        0.9050167762010431, 0.3625557566062295],
       ...,
       [0.18087163532545125, 0.5853120883078816, 0.7758852718662963,
        0.9803964030607648, 0.4009694259804867],
       [0.8604884717010384, 0.5309880637536448, 0.9819669655018611,
        0.34263754652413225, 0.1455472010143256],
       [0.9086742898268836, 0.17362026577375866, 0.5870440480815412,
        0.6299785801849561, 0.7473689330591604]],
      shape=(334, 5), dtype=object)

In [44]:

df[0][0] = 0.83
to_numpy_after = df.to_numpy()
to_numpy_after

array([[0.83, 0.8220178862040661, 0.7960655634236289, 0.8159515022697026,
        0.8816988364856093],
       [0.2840283902010561, 0.7023013226904368, 0.9282831733876684,
        0.9085229072223164, 0.1759682016365105],
       [0.37486233260931945, 0.6519801160534817, 0.5112935276330808,
        0.9050167762010431, 0.3625557566062295],
       ...,
       [0.18087163532545125, 0.5853120883078816, 0.7758852718662963,
        0.9803964030607648, 0.4009694259804867],
       [0.8604884717010384, 0.5309880637536448, 0.9819669655018611,
        0.34263754652413225, 0.1455472010143256],
       [0.9086742898268836, 0.17362026577375866, 0.5870440480815412,
        0.6299785801849561, 0.7473689330591604]],
      shape=(334, 5), dtype=object)

# Data Selection

In [48]:
new_df = df.loc[[1,2], ['C', 'D']]
print("new_df",new_df)

new_df           C         D
1  0.928283  0.908523
2  0.511294  0.905017

In [50]:

all_rows = df.loc[:, ['C', 'D']]
all_rows

            C         D
0    0.796066  0.815952
1    0.928283  0.908523
2    0.511294  0.905017
3    0.418141  0.416923
4    0.145651  0.507174
..        ...       ...
329  0.955364  0.096603
330  0.564277  0.707103
331  0.775885  0.980396
332  0.981967  0.342638
333  0.587044  0.629979

[334 rows x 2 columns]

In [51]:

all_columns = df.loc[[1,2], :]
all_columns

          A         B         C         D         E
1  0.284028  0.702301  0.928283  0.908523  0.175968
2  0.374862  0.651980  0.511294  0.905017  0.362556

In [52]:

query_data_frame = df.loc[(df['A']>0.3) & (df['C']>0.1)]
query_data_frame

            A         B         C         D         E
0         234  0.822018  0.796066  0.815952  0.881699
2    0.374862  0.651980  0.511294  0.905017  0.362556
4    0.756964  0.960934  0.145651  0.507174  0.495332
8    0.369153  0.208985  0.828311  0.021558  0.908103
9    0.502193  0.108770  0.597701  0.215973  0.255577
..        ...       ...       ...       ...       ...
325  0.971222  0.685648  0.786823  0.804285  0.902286
326  0.514213  0.879927  0.467343  0.971575  0.594754
328  0.633794  0.142809  0.434938  0.755127  0.164446
332  0.860488  0.530988  0.981967  0.342638  0.145547
333  0.908674  0.173620  0.587044  0.629979  0.747369

[219 rows x 5 columns]

In [53]:

specific_cell = df.iloc[0,4]
specific_cell

np.float64(0.8816988364856093)

In [54]:

specific_cells = df.iloc[[0,1], [1,2]]
specific_cells

          B         C
0  0.822018  0.796066
1  0.702301  0.928283

# Drop and Reset Index

In [55]:
df.drop(['A', 'C'], axis=1)
df.drop([0, 5], axis=0)
df.reset_index(drop=True, inplace=True)
df

            A         B         C         D         E
0         234  0.822018  0.796066  0.815952  0.881699
1    0.284028  0.702301  0.928283  0.908523  0.175968
2    0.374862  0.651980  0.511294  0.905017  0.362556
3    0.054486  0.237088  0.418141  0.416923  0.720594
4    0.756964  0.960934  0.145651  0.507174  0.495332
..        ...       ...       ...       ...       ...
329  0.155916  0.942232  0.955364  0.096603  0.826069
330  0.127032  0.455384  0.564277  0.707103  0.774207
331  0.180872  0.585312  0.775885  0.980396  0.400969
332  0.860488  0.530988  0.981967  0.342638  0.145547
333  0.908674  0.173620  0.587044  0.629979  0.747369

[334 rows x 5 columns]

# Null Checks

In [58]:
df.loc[:, ["B"]] = 58
df

            A     B         C         D         E
0         234  58.0  0.796066  0.815952  0.881699
1    0.284028  58.0  0.928283  0.908523  0.175968
2    0.374862  58.0  0.511294  0.905017  0.362556
3    0.054486  58.0  0.418141  0.416923  0.720594
4    0.756964  58.0  0.145651  0.507174  0.495332
..        ...   ...       ...       ...       ...
329  0.155916  58.0  0.955364  0.096603  0.826069
330  0.127032  58.0  0.564277  0.707103  0.774207
331  0.180872  58.0  0.775885  0.980396  0.400969
332  0.860488  58.0  0.981967  0.342638  0.145547
333  0.908674  58.0  0.587044  0.629979  0.747369

[334 rows x 5 columns]

In [59]:
is_null = df['B'].isnull()
is_null

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool

# Final Output

In [60]:
print("none df", df)
print("is_null", is_null)

none df             A     B         C         D         E
0         234  58.0  0.796066  0.815952  0.881699
1    0.284028  58.0  0.928283  0.908523  0.175968
2    0.374862  58.0  0.511294  0.905017  0.362556
3    0.054486  58.0  0.418141  0.416923  0.720594
4    0.756964  58.0  0.145651  0.507174  0.495332
..        ...   ...       ...       ...       ...
329  0.155916  58.0  0.955364  0.096603  0.826069
330  0.127032  58.0  0.564277  0.707103  0.774207
331  0.180872  58.0  0.775885  0.980396  0.400969
332  0.860488  58.0  0.981967  0.342638  0.145547
333  0.908674  58.0  0.587044  0.629979  0.747369

[334 rows x 5 columns]
is_null 0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 334, dtype: bool